* {
	margin-left: 20px;
	margin-top: 10px;
}
.header {
	background: black;
	color: white;
}
table {
border-collapse: collapse;
}
td {
	border: 1px solid black;
	margin-left: 100px;
}
th {
	border: 1px solid black;
}
